/*img:not([alt]) {
	filter: grayscale(100%);
}*/

.footer-navigation li {
    display: inline;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid black;
    font-size: 17px;
}

.contact-header-text {
    color: blue;
    font-size: 17px;
}

.break {
    padding: 3px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 3px 2px -2px gray;
    -moz-box-shadow: 0 3px 2px -2px gray;
    box-shadow: 0 3px 2px -2px gray;
    -webkit-appearance: none;
}

.fa,
.far,
.fas,
.fab {
    margin-right: 4px;
}

.footer-nav-header {
    text-align: center;
    margin-bottom: 30px;
}

.modal.fade {
    width: 100%;
    height: auto;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.3);
}

.modal-content {
    width: 40%;
    height: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 5px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
}

form {
    width: 100%;
    color: black;
    text-decoration: none;
    z-index: 1;
    position: relative;
}

label {
    margin-bottom: 0px;
    font-weight: normal;
    display: inline;
}

input {
    padding: 6px 6px;
    width: 400px;
    border: 1px solid transparent;
    border-top: none;
    -webkit-box-shadow: 0 0 4px #666 inset;
    -moz-box-shadow: 0 0 4px #666 inset;
    box-shadow: 0 0 4px #666 inset;
    -webkit-appearance: none;
    z-index: 9999;
}

textarea {
    width: 400px;
    padding: 6px 6px;
    border: 1px solid transparent;
    border-top: none;
    -webkit-box-shadow: 0 0 4px #666 inset;
    -moz-box-shadow: 0 0 4px #666 inset;
    box-shadow: 0 0 4px #666 inset;
    -webkit-appearance: none;
}

.form-error {
    color: #4e4e4e;
    display: none;
    background-color: #FFC04C;
    border: 1px solid orange;
    width: 400px;
    margin-top: 3px;
    padding: 2px;
    text-align: left;
}

.navactive.nav-items a {
    color: #0033FF;
}

.mobilenavactive.nav-items a {
    background: rgba(0, 0, 0, 0.1);
    ;
}

#hamburger-icon.active .line-1 {
    transform: translateY(10px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
    -moz-transform: translateY(10px) translateX(0) rotate(45deg);
    width: 45%;
}

#hamburger-icon.active .line-2 {
    opacity: 0;
}

#hamburger-icon.active .line-3 {
    transform: translateY(-10px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-10px) translateX(0) rotate(-45deg);
    width: 45%;
}

.servicesheadbluebtn {
    border: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
    background-color: #0099FF;
    color: white;
    margin-bottom: 0px;
    font-size: 15px;
}

.servicesheadwhitebtn {
    background-color: white;
    margin-bottom: 0px;
    color: black;
    font-size: 15px;
}

.mobile-nav li {
    border-bottom: 1px solid #2E2E2E;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    color: #0033FF;
    background: none;
}

.header-left {
    margin-top: -5px;
}

.scrollToTop {
    width: 20px;
    height: 10px;
    padding: 5px 10px 25px 10px;
    text-align: center;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position: fixed;
    bottom: 15px;
    right: 28px;
    display: none;
    font-size: 26px;
    border-radius: 0px;
    /*background: rgba(248, 244, 239, 0.5);*/
    z-index: 100;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.scrollToTop:hover {
    cursor: pointer;
}

.hvr-grow {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    width: 100%;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 999999;
}

.btn-side {
    width: 100%;
    padding: 5px;
    font-size: 15px;
    margin-top: 10px;
}

.bluebtn {
    font-size: 16px;
    color: white;
    width: 100%;
    border-style: solid;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: #0099FF;
    text-align: center;
    padding: 8px;
}

.formbtn {
    font-size: 16px;
    color: white;
    border-style: solid;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: #0099FF;
    text-align: center;
}

.whitebtn {
    background-color: white;
    font-size: 16px;
    border-style: solid;
    border: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
    color: black;
    padding: 8px;
}

.header-right {
    text-align: right;
    margin-top: 8px;
}

.header-wrapper {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.footer-content {
    position: relative;
    margin: 20px 0 0;
    padding-bottom: 40px;
}

.footer-details {
    text-align: center;
}

.main-content:before {
    position: absolute;
    z-index: -1;
    top: 575px;
    width: 100%;
    height: 100px;
    background-size: cover;
}

.main-content:before {
    content: "";
    background-image: url('../img/wave-grey.png');
}

.footer-content:before {
    position: absolute;
    top: -40px;
    z-index: 0;
    width: 100%;
    height: 100px;
    background-size: cover;
}

.footer-content:before {
    content: "";
    background-image: url('../img/wave.png');
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #ececec;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
}

a:hover {
    text-decoration: none;
}

.home-second-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
}

ul#tick {
    list-style: none;
    font-size: 17px;
    -webkit-padding-start: 0px;
}

#tick li:before {
    font-family: FontAwesome;
    content: "\f00c";
    color: #ffc100;
    font-size: 15px;
}

#tick li {
    list-style-type: none;
}

.sidebarbg {
    padding: 5px;
}

#globalwrap {
    padding-top: 20px;
}

.user-info {
    position: relative;
    z-index: 10;
}

.user-info-content {
    padding: 10px 10px;
}

li {
    list-style-type: circle;
}

.menu-trigger {
    position: fixed;
    right: 0;
    top: 0;
    background-color: transparent;
    z-index: 100;
    width: 75px;
    height: 80px;
    color: #fff;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 0;
}

#hamburger-icon .line {
    display: block;
    background: #2E2E2E;
    height: 4px;
    position: absolute;
    right: 18px;
    border-radius: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

#hamburger-icon .line.line-1 {
    top: 15px;
    width: 50%;
}

#hamburger-icon .line.line-2 {
    top: 25px;
    width: 50%;
}

#hamburger-icon .line.line-3 {
    top: 35px;
    width: 50%;
}

.menu-text {
    position: absolute;
    right: 18px;
    bottom: 12px;
    color: #2E2E2E;
    font-size: 13px;
    transition: all linear 0.2s;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin: 0px;
}


/*.darkbg > div {
    border: 1px solid grey;
}

.lightbg > div {
    border: 1px solid #b2b2b2;
}*/

div.user-info-inner.lightbg.darktxt {
    color: #2E2E2E;
}

.top-img {
    z-index: -1;
    position: relative;
    margin-top: 80px;
}

.text {
    position: absolute;
    top: 200px;
    text-align: center;
    right: 0;
    left: 0;
    font-size: 60px;
    color: white;
}

.main-content {
    margin-top: -120px;
    z-index: 10;
}

.user-info-inner {
    padding: 20px;
    margin-bottom: 40px;
    border: 1px solid grey;
    color: white;
}

.services-images {
    max-height: 320px;
    overflow: hidden;
}

.user-info-inner img {
    width: 100%;
}

.darkbg {
    background-image: url('../img/darkbg-min.png');
}

.lightbg {
    background-image: url('../img/lightbg-min.png');
}

#login-wrapper {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-top: -185px;
    margin-left: -235px;
    padding: 25px;
    width: 420px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    display: none;
}

.home-headings {
    font-size: 28px;
}

.header {
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
    max-height: 80px;
}

.headerbar {
    background-color: rgba(255, 255, 255, 0.7);
    max-height: 80px;
    padding: 5px;
}

.logo img {
    width: 140px;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #B0B0B0;
}

html,
body {
    width: 100%;
    height: 100%;
}


/*SNOW FLAKE*/

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}

.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}

.snowflake:hover {
    cursor: default;
}


/*END OF SNOW FLAKE*/


/* Header */

.landing-page {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    background: url(../img/bg2.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-bg {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999
}

.navbar-collapse {
    margin-top: 80px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    margin-bottom: -80px;
}

.navbar-nav {
    float: right;
    margin: 0;
}

li.nav-items {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.6);
}

.nav-items a {
    color: #2E2E2E;
}

@media all {
    @media (max-width: 1199px) {
        ul.nav {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}


/*IPAD STYLES */

@media (min-width:481px) and (max-width: 767px) {
    .main-content {
        margin-top: -40px;
    }
    #desktop-nav {
        display: none;
    }
}

@media (min-width:481px) and (max-width: 768px) {
    .main-content {
        margin-top: -40px;
    }
    input {
        width: 100%;
    }
    textarea {
        width: 100%;
    }
    .form-error {
        width: 100%;
    }
}

@media (min-width:991px) and (max-width: 1025px) {
    .main-content {
        margin-top: -60px;
    }
}

@media (min-width:767px) and (max-width: 2000px) {
    .menu-trigger {
        display: none;
    }
}


/*LARGE SCREEN FIX */

@media (min-width:1400px) and (max-width: 2000px) {
    .main-content:before {
        top: 825px;
    }
}


/*MOBILE STYLES */

@media all and (max-width: 480px) {
    #desktop-nav {
        display: none;
    }
    .main-content {
        margin-top: 0px;
    }
    .home-second-section {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .user-info-inner {
        margin-bottom: 0px;
    }
    #blog-modal-content {
        height: 500px;
        width: 90%;
    }
    .footer-navigation li {
        display: block;
        border: none;
        margin-bottom: 5px;
    }
    .footer-nav-header {
        margin-bottom: 10px;
    }
    .footer-navigation {
        -webkit-padding-start: 0px;
    }
    input,
    textarea {
        width: 100%;
    }
    .modal-content {
        width: 80%;
    }
    .form-error {
        width: 100%;
    }
}